@using ShopLogic.Models

@model ProductForView
@{
    ViewBag.Title = "Products";
}
<h1>What we can find</h1>
<body>
    <p>@Model.IdRozetka</p>
    <p>@Model.Name</p>
    <p>@Model.Price</p>
    <p>@Model.ProductCategoryName</p>
    <table  border="1">
        <thead>
            <tr><th>Свойство</th><th>Значение</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CharacteristicsList)
            {
                <tr><td>@item.CharacteristicsName</td><td>@item.CharacteristicsDescription</td></tr>
            }
        </tbody>
    </table>
</body>
    <br>
    <hr>

